 <!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>综合抄表平台</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../lib/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="../lib/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="../lib/hplus/css/animate.min.css" rel="stylesheet">
    <link href="../lib/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="../lib/hplus/css/login.min.css" rel="stylesheet">
    <link href="../lib/hplus/css/laydate.css" rel="stylesheet">

</head>
<body class="signin">


<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
                <div class="logopanel m-b">
                    <h1>宁波水表股份有限公司</h1>
                </div>
                <div class="m-b"></div>
                <h4>欢迎使用 <strong>综合抄表平台</strong></h4>

                <!--<strong>还没有账号？ <a href="#">立即注册&raquo;</a></strong>-->
            </div>
        </div>
        <div class="col-sm-5">
            <!--<button id="adduser" class="btn btn-lg btn-primary btn-block" type="button">上传用户</button>-->
            <!--<div id="loading1" style="display: none;margin-top: 25px"><img  src="lib/11.gif" height="15" width="295"/><p style="text-align: center">正在上传，请稍等</p></div>-->
            <button id="uploadUserBtn" class="btn btn-lg btn-success btn-block" type="button">上传用户资料</button>
            <button id="uploadWaterReadingBtn" class="btn btn-lg btn-success btn-block" type="button">上传读数</button>
            <!--时间选择框-->
            <div>
                <label>开始时间:</label>
                <input type="text" id="startTime" name="layui-input"  placeholder="开始时间" class="form-control" style="color: black">
                <label>结束时间:</label>
                <input type="text" id="endTime" name="layui-input"  placeholder="结束时间" class="form-control"  style="color: black">
            </div>
            <button id="insertWaterReadingBtn" class="btn btn-lg btn-success btn-block" type="button">插入中间库数据</button>
            <button id="uploadCurrentLessThanPeriodBtn" class="btn btn-lg btn-danger" type="button">获取本期小于上期读数加一再传</button>

            <div id="loading" style="display: none;margin-top: 35px"><img src="lib/11.gif" height="15" width="295"/>
                <p style="text-align: center">正在上传，请稍等</p></div>

</div>
    </div>
    <!--<div id="jqmeter-container"></div>-->
    <div class="signup-footer">
        <div class="pull-left">
            &copy; 2015-2017 杭州云润科技有限公司
        </div>
    </div>
</div>




<script src="../lib/common-js.js"></script>
<script src="../lib/hplus/js/laydate.js"></script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
<script>

   //全局标识，上传用户信息时，其他按钮失效
     var userFlag=false;

    /**
     * 上传用户数据
     */
    $("#uploadUserBtn").click(function(){
       // alert("开始上传,大概等待15分钟");
        userFlag=true;
        $("#uploadUserBtn").hide();
        $("#loading").show();
        $.get("/updateUser",function(data,status) {

            if (status =="success") {
                if (data.result == 2) {
                    alert("时间不能为空");
                } else if (data.result == 1) {

                    $("#loading").hide();
                    $("#uploadUserBtn").show();
                    alert("插入用户成功!使用" + data.useTime + "分钟");

                } else {
                    alert("插入用户失败！使用" + data.useTime + "分钟");
                    $("#loading").hide();
                    $("#uploadUserBtn").show();
                }
            }
            else
            {
                alert("请求异常")
            }

                userFlag=false;
        }
        )
            ;
    });
    /**
     * 时间控件
     */
    var $startTime=$("#startTime");
    var $endTime=$("#endTime");
    laydate.render({
        elem: '#startTime', //指定元素
        type:'date',
        format:'yyyy-MM-dd',
        value:new Date(),
        theme:'grid',
        done:function (value,date,endDate) {
            var time=new Date().getTime();
            var startTime=new Date(value).getTime();
            if(startTime>time)
            {
                alert("开始时间必须小于或等于当前日期");
                $startTime.val(null);
                return;
            }
            if($endTime.val()<$startTime.val())
            {
                alert("开始日期必须小于或等于结束日期");
                $startTime.val($endTime.val()).css("color","red");
                return;
            }

            $startTime.val(value).css("color","red");
        },

    });
    laydate.render({
        elem: '#endTime', //指定元素
        type:'date',
        format:'yyyy-MM-dd',
        value:new Date(),
        theme:'grid',
        done:function (value,date,endDate) {
            var time=new Date().getTime();
            var endTime=new Date(value).getTime();
            if(endTime>time)
            {
                alert("结束时间必须小于当前日期");
                $endTime.val(null);
                return;
            }
            if($endTime.val()<$startTime.val())
            {
                alert("结束日期必须大于或等于开始日期");
                $endTime.val($startTime.val());
                return;
            }

            $endTime.val(value).css("color","red");
        },
    });

    /**
     * 插入中间库调用
     */

    $("#insertWaterReadingBtn").click(function(){
        if(!userFlag)
        {
            $("#insertWaterReadingBtn").hide();
            $("#loading").show();
            var data1={"startTime":$startTime.val(),"endTime":$endTime.val()};

            $.get("/getReadingData",data1,function(data,status) {

                    if (status =="success")
                    {
                        if (data.result == 2) {
                            $("#loading").hide();
                            $("#insertWaterReadingBtn").show();
                            alert("开始或结束时间不能为空！");
                        } else if(data.result==3)
                        {
                            $("#loading").hide();
                            $("#insertWaterReadingBtn").show();
                            alert("服务器内部错误！");
                        }
                          else  if (data.result == 1) {

                            $("#loading").hide();
                            $("#insertWaterReadingBtn").show();
                            alert("插入读数成功!使用" + data.useTime+"分钟");

                        } else {
                            alert("插入读数失败！使用" + data.useTime+"分钟");
                            $("#loading").hide();
                            $("#insertWaterReadingBtn").show();
                        }
                    }
                    else
                    {
                        alert("请求异常")
                    }
                }
                ,"json")
            ;


        }
        else
        {
            alert("正在上传用户，请乎操作！");
        }

    });

    $("#uploadWaterReadingBtn").click(function () {
        if(!userFlag)
        {
           $.ajax({url:"/uploadReading",success:function (data,status) {
                 debugger
                   if (status =="success")
                   {
                       alert("本期小于上期："+data.CurrentLessThanPeriod+"\n不存在可以修改的数据："+data.NotExitsModifier+"\n其他异常："+data.Other);
                   }
                   else
                   {
                       alert("请求异常")
                   }
               }
           });
        }
        else
        {
            alert("正在上传用户，请乎操作！");
        }

    })

    $("#uploadCurrentLessThanPeriodBtn").click(function () {
        $.ajax({url:"/uploadCurrentLessThanPeriod",success:function (data,status) {
            debugger
                if (status =="success")
                {
                    if(data)
                    {
                        alert("请求成功！");
                    }
                    else
                    {
                        alert("请求失败！");
                    }

                }
                else
                {
                    alert("请求异常")
                }
            }
        });
    })

</script>

</body>
</html>
